<section class="content mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">


        <!-- About Me Box -->
        <div class="card h-100">
          <div class="card-header">
            <h3 class="card-title">Chat</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="post">
              <div class="user-block">
                <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                <span class="username">
                  <a href="#">Sarah Ross</a>
                  <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                </span>
                <span class="description">Sent you a message - 3 days ago</span>
              </div>
            </div>

            <div class="post">
              <div class="user-block">
                <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                <span class="username">
                  <a href="#">Sarah Ross</a>
                  <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                </span>
                <span class="description">Sent you a message - 3 days ago</span>
              </div>
            </div>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-9">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="card-title">COMANDO - X12XC <%= username %></h3>
          </div>
          <div class="card-body">
            <div id="chat-container">
              <!-- Post -->
              <div class="post">
                <div class="user-block">
                  <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                  <span class="username">
                    <a href="#">Jonathan Burke Jr.</a>
                    <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                  </span>
                  <span class="description">Shared publicly - 7:30 PM today</span>
                </div>
                <!-- /.user-block -->
                <p>
                  Lorem ipsum represents a long-held tradition for designers,
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore the hate as they create awesome
                  tools to help create filler text for everyone from bacon lovers
                  to Charlie Sheen fans.
                </p>

              </div>
              <!-- /.post -->

              <!-- Post -->
              <div class="post clearfix">
                <div class="user-block">
                  <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                  <span class="username">
                    <a href="#">Sarah Ross</a>
                    <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                  </span>
                  <span class="description">Sent you a message - 3 days ago</span>
                </div>
                <!-- /.user-block -->
                <p>
                  Lorem ipsum represents a long-held tradition for designers,
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore the hate as they create awesome
                  tools to help create filler text for everyone from bacon lovers
                  to Charlie Sheen fans.
                </p>


              </div>
              <!-- /.post -->

            </div>
            <input type="text" id="user_id" value="<%= user_id %>" />
            <input type="text" id="username" value="<%= username %>" />
            <input type="text" id="token" value="<%= token %>" />
            <br>
            <input type="text" id="conversationId" value="" />
            
            

            iki di sini
            <div id="messages"></div>


          </div><!-- /.card-body -->
          <div class="card-footer">
            <div class="form-horizontal" id="form">
              <div class="input-group input-group-sm mb-0">
                
                <input class="form-control form-control-sm" id="txt" autocomplete="off">
                <div class="input-group-append">
                  <button class="btn btn-danger" id="send">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>


