<section class="content-header">
  <div class="container-fluid">
    <h1>Add BW Camera</h1>
  </div>
</section>

<section class="content">
  <div class="container-fluid mt-3">
    <div class="card">
      <div class="card-header">
        <h4>BW Camera Form</h4>
      </div>

      <div class="card-body">
        <form method="POST" action="/bwcam/create">
          <div class="row">

            <!-- LEFT SIDE -->
            <div class="col-md-6">
              <div class="form-group">
                <label>BWCam ID</label>
                <input type="text" name="bwcam_id" class="form-control" value="BWC-0">
              </div>

              <div class="form-group">
                <label>Device Name</label>
                <input type="text" name="device_name" class="form-control" value="Body Worn Camera">
              </div>

              <div class="form-group">
                <label>Model</label>
                <input type="text" name="model" class="form-control" value="4G Smart Body Worn Camera">
              </div>

              <div class="form-group">
                <label>Item No</label>
                <input type="text" name="item_no" class="form-control" value="110778">
              </div>

              <div class="form-group">
                <label>Serial Number</label>
                <input type="text" name="serial_number" class="form-control" value="12410185790077">
              </div>

              <div class="form-group">
                <label>IP Address</label>
                <input type="text" name="ip_address" class="form-control">
              </div>

              <div class="form-group">
                <label>MAC Address</label>
                <input type="text" name="mac_address" class="form-control">
              </div>

            </div>

            <!-- RIGHT -->
            <div class="col-md-6">
              

              <div class="form-group">
                <label>Power</label>
                <input type="text" name="power" class="form-control" value="DC 5V">
              </div>

              <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" value="admin">
              </div>

              <div class="form-group">
                <label>Password</label>
                <input type="text" name="password" class="form-control" value="P@ssw0rd">
              </div>

              <div class="form-group">
                <label>RTSP URL</label>
                <input type="text" name="rtsp_url" class="form-control" value="rtsp://192.167.0.4:1554/live/1">
              </div>

              <div class="form-group">
                <label>RTSP Port</label>
                <input type="number" name="rtsp_port" class="form-control" value="1554">
              </div>

              <div class="form-group">
                <label>RTSP Username</label>
                <input type="text" name="rtsp_username" class="form-control">
              </div>

              <div class="form-group">
                <label>RTSP Password</label>
                <input type="text" name="rtsp_password" class="form-control">
              </div>

              <div class="form-group">
                <label>FFMPEG Options</label>
                <textarea rows="15" class="form-control" name="ffmpeg_options"></textarea> 
              </div>
              <div class="form-group">
                <label>Max Retries</label>
                <input type="number" class="form-control" name="max_retries">
              </div>
              <div class="form-group">
                <label>Retry delay</label>
                <input type="number" class="form-control" name="retry_delay">
              </div>
              <div class="form-group">
                <label>Watchdog Timeout</label>
                <input type="number" class="form-control" name="watchdog_timeout">
              </div>
              <div class="form-group">
                <label>Watchdog Check Interval</label>
                <input type="number" class="form-control" name="watchdog_check_interval">
              </div>


              <div class="form-group">
                <label>Status</label>
                <select name="status" class="form-control">
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>
              </div>

              <input type="hidden" name="user_id" value="USR001">
            </div>
          </div>

          <button class="btn btn-success" type="submit">Save</button>
          <a href="/bwcam" class="btn btn-secondary">Back</a>
        </form>
      </div>
    </div>
  </div>
</section>