<!-- Main Sidebar Container -->
    <aside class="main-sidebar main-sidebar-custom elevation-4 text-white" style="background-color: #111814;">
      <!-- Brand Logo -->
      <div class="brand-link">
        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">COMANDO</span>
      </div>

      <!-- Sidebar -->
      <div class="sidebar">


        <!-- SidebarSearch Form -->
        <div class="form-inline mt-2">
          <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-sidebar btn-default">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="../../index.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v1</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="../../index2.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v2</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="../../index3.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v3</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="../widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Widgets
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <div class="info-box text-white" style="background-color: #18261C;">
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                      <label for="customCheckbox1" class="custom-control-label">B 6765 CN</label>
                    </div>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-phone-square-alt"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-comments"></i>
                      </button>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <i class="fas fa-map-marker-alt text-red"></i>
                      <span>Online</span>
                    </div>
                    <div>
                      <span class="right badge badge-success">View</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <div class="info-box text-white" style="background-color: #18261C;">
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                      <label for="customCheckbox1" class="custom-control-label">B 6766 CN</label>
                    </div>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-phone-square-alt"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-comments"></i>
                      </button>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <i class="fas fa-map-marker-alt"></i>
                      <span>Offline</span>
                    </div>
                    <div>
                      <span class="right badge badge-dark">View</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <div class="info-box text-white" style="background-color: #18261C;">
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                      <label for="customCheckbox1" class="custom-control-label">B 6767 CN</label>
                    </div>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-phone-square-alt"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-comments"></i>
                      </button>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <i class="fas fa-map-marker-alt text-red"></i>
                      <span>Online</span>
                    </div>
                    <div>
                      <span class="right badge badge-success">View</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <div class="info-box text-white" style="background-color: #18261C;">
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                      <label for="customCheckbox1" class="custom-control-label">B 6768 CN</label>
                    </div>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-phone-square-alt"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-comments"></i>
                      </button>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <i class="fas fa-map-marker-alt text-red"></i>
                      <span>Online</span>
                    </div>
                    <div>
                      <span class="right badge badge-success">View</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <div class="info-box text-white" style="background-color: #18261C;">
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                      <label for="customCheckbox1" class="custom-control-label">B 6769 CN</label>
                    </div>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-phone-square-alt"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-comments"></i>
                      </button>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <i class="fas fa-map-marker-alt text-red"></i>
                      <span>Online</span>
                    </div>
                    <div>
                      <span class="right badge badge-success">View</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-header">MULTI LEVEL EXAMPLE</li>
            <li class="nav-item">
              <a href="/maps" class="nav-link">
                <i class="fas fa-map-marker-alt nav-icon"></i>
                <p>Maps</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/unit" class="nav-link">
                <i class="fas fa-border-all nav-icon"></i>
                <p>
                  Units
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/mtcam" class="nav-link">
                <i class="fas fa-video nav-icon"></i>
                <p>
                  Motor Camera
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/bwcam" class="nav-link">
                <i class="fas fa-camera nav-icon"></i>
                <p>
                  Body Camera
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/vehicle" class="nav-link">
                <i class="fas fa-motorcycle nav-icon"></i>
                <p>Vehicle</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/tablet" class="nav-link">
                <i class="fas fa-tablet-alt nav-icon"></i>
                <p>Tablet</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/router" class="nav-link">
                <i class="fas fa-wifi nav-icon"></i>
                <p>Router</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/chat" class="nav-link">
                <i class="fas fa-phone-square nav-icon"></i>
                <p>Chat</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-phone-square nav-icon"></i>
                <p>Voice Call</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/users" class="nav-link">
                <i class="fas fa-phone-square nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="activity" class="nav-link">
                <i class="fas fa-running nav-icon"></i>
                <p>Activity</p>
              </a>
            </li>
            <li class="nav-header">LABELS</li>
            <li class="nav-item">
              <a href="/" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">Logout</p>
              </a>
            </li>
            
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->

      <div class="sidebar-custom">
        <a href="#" class="btn btn-link"><i class="fas fa-cogs"></i></a>
        <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Help</a>
      </div>
      <!-- /.sidebar-custom -->
    </aside>